@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

/* Aturan CSS untuk scrollbar */
.requirement::-webkit-scrollbar {
    width: 5px;
    /* Lebar scrollbar */
}

.requirement::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    /* Warna thumb (bagian yang dapat di-drag) */
    border-radius: 5px;
    /* Sudut border thumb */
}

.requirement::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Warna track (area di sekitar thumb) */
    border-radius: 5px;
    /* Sudut border track */
}

.background-login {
    background : url('../public/images/bg-ojk.jpg');
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);
}

.captcha-text {
    text-shadow: 0 0 5px #a9a9a9;
    letter-spacing: 20px;
    user-select: none;
    font-family: 'Noto Serif', serif;
}